.THIS.spinner{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}
@media print {
  .THIS.printDoc {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
@page{
  size: A3 landscape;
  margin: 5mm;
}
  .THIS.hideInPrint{
      display: none;
  }
}

.THIS .slds-modal__content {
    height: auto !important;
    max-height: none !important;
}